:root{
    --gold: #F2B90C;
    --azul1: #DFF2F2;
    --azul2: #A4BFBF;
    --azul3: #377D8C;
    --azul4: #225C73;
    --font1: Montserrat, sans-serif;
    --font2: Play, sans-serif;
    --font3: 'Poppins', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font3);
}

/*nav*/
nav{
    background-color: var(--azul2);
    color: var(--azul4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav h1{
    font-size: 2.8rem;
    font-weight: bold;
    font-family: var(--font1);
    font-family: var(--font3);
    font-weight: 700;
}

.nav-links{
    display: flex;
    gap: 15px;
}

nav a{
    color: var(--azul4);
    padding: 10px 14px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover{
    background-color: #377D8C;
    color: #F2B90C;
}

